@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-title: "Russo One", sans-serif;
    --font-text: "Roboto", sans-serif;
    --font-link: "Archivo Narrow", sans-serif;
    --vermelho: #B80000;
    --vermelho-escuro: #5A0000;
    --branco-osso: #eeeeee;
}

* {
    font-family: var(--font-text);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--branco-osso);
}

header {
    border: 1px solid #000;
}

.head-title {
    padding-block: 10px;
    text-align: center;
    border: 1px solid #000;
}

.head-title h1 {
    font-family: var(--font-title);
    font-size: 2.5em;
    color: #d30303;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    padding-block: 5px;
    list-style: none;
}

.menu-item a {
    text-decoration: none;
    color: var(--vermelho);
}

.hero {
    height: 90vh;
    background: #000 url(../imagens/hero-back.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom top;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 101vh;
}

.about h2 {
    padding-block-end: 40px;
    font-size: 2.2em;
    color: var(--vermelho-escuro);
}

.about p {
    width: 30%;
    padding-block: 3px;
    font-size: 1.2em;
    text-align: center;
}

.about strong {
    color: var(--vermelho);
}

.