@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --font-title: "Special Gothic Expanded One", arial, sans-serif;
    --font-text: "Space Mono", arial,  monospace;
    --font-link: "Barlow Condensed", arial, sans-serif;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body p {
    font-family: var(--font-text);
}

body a {
    font-family: var(--font-link);
    font-size: 1.2em;
    font-weight: 500;
}

header {
    text-align: center;
}

.menu-title {
    padding-block: 5px;
}

.menu-title h1 {
    font-family: var(--font-title);
    font-size: 3em;
    color: #ff0000;
}

.menu-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    border: 1px solid #af0000;
    background: #fff;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 10px;

    list-style: none;
}

.menu-list a {
    text-decoration: none;
    color: #ff0000;
}

main h2 {
    font-family: var(--font-title);
    font-size: 2.9em;
}

.hero {
    height: 95vh;

    font-size: 3em;
    text-align: center;
    line-height: 90vh;
    background: #000 url(../imagens/hero.jpg) no-repeat;
    background-attachment: fixed;
    background-position: top center;
}

.hero h1 {
    font-family: var(--font-title);
    color: #ff0000;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    border: 1px solid #000;
}

.about-desc {
    height: 70%;
    width: 100%;
    text-align: center;
}

.about-desc h2 {
    padding-block-end: 30px;
    color: #ff0000;
}

.about-desc p {
    width: 300px;
    margin: auto;
    font-size: 1.2em;
}

.project {
    height: 95vh;
    color: #fff;
    background: #ff0000;
}

.project h2 {
    padding-block: 60px;
    text-align: center;
}

.project-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.site-img img {
    position: relative;
    width: 250px;
    height: 350px;
    margin-inline-start: 35%;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.desc p {
    width: 35%;
    font-size: 1.2em;
}

.desc button {
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    font-weight: 600;
    outline: none;
    border: 1px solid #ffffff;
    cursor: pointer;
    background: transparent;
    transition: .3s ease; 
}

.desc button:hover {
    transform: scale(1.1);
    background: #fff;
    a {
        color: #ff0000;
    }
}

.desc button a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    height: 10vh;
    text-align: center;
    line-height: 100px;
    background: #fff;
}

footer a {
    text-decoration: none;
    color: #ff0000;
}